@charset "utf-8";

body {
  background-color: #222831; color: #fff;
}
* {box-sizing: border-box;}
/* --------header---------- */
header {
  height: 150px; padding: 10px 20px;
}

/* Home button */
.HomeBtn {
  width: 100px; height: 40px; position: relative; 
  background-color: rgba(0,0,0,0.4); border-radius: 8px; 
}
.HomeBtn a {
  display: block; width:100px; height: 40px; line-height: 40px; font-size: 16px; color:#27e9b6; border-radius: 8px;
  letter-spacing: 1px; font-family: "Lato", serif; font-weight: 300;
}
.HomeBtn a:hover {background-color: rgba(255,255,255,0.5);}

/* nav */
header #menu ul {
  position: fixed; top: 0; z-index: 9999; padding-top: 10px; right: 10px;
  display: flex; justify-content: right;
  color: #fff; 
  
}
header #menu ul li {padding-left: 50px;}
header #menu ul li:hover {color:#27e9b6;}
/* title */
header #title {display: flex; padding-top: 20px; padding-left: 30px;}
header h1 {color: #fff; font-size: 70px;}
header p {
  color:#27e9b6; font-size: 60px; font-weight: 200; font-style: italic;
  letter-spacing: 10px; margin-top: 20px; margin-left: 20px;
  font-family: "Lato", serif;
}

/* ----------main-------------- */
main h2 {
  padding : 120px 70px 60px;
  display: flex; justify-content: center;
  position: relative; text-align: left; 
  font-size: 3rem; color: aliceblue; 
  font-family: "Karla", serif;
  font-style: italic; letter-spacing: 7px; font-weight: 200;
}

/* works */
/* swiper1 */
.main1 {margin-bottom: 50px;}
.main1 .swiper {
  width: 100%;
  height: 780px;
}
.main1 .swiper-slide {
  height: 780px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.7);
  display: flex; flex-direction: column;
  color: #332;
}
.main1 .swiper-slide h4 {
  font-size: 50px; padding: 10px; font-family: "Karla", serif; color:#3D8D7A;
}

.main1 .swiper-slide img {
  display: block;
  object-fit: contain;
  border-radius: 12px;
  margin: 10px 0 20px;
}

.main1 .swiper-slide p {padding-left: 10px; font-size: 24px;}
.main1 .swiper-slide span {padding-left: 10px; font-size: 15px;}

.main1 .swiper-button-next, .swiper-button-prev {
  --swiper-theme-color:#27e9b6; padding: 20px;
}
.main1 .swiper-pagination {font-size: 22px; color:#332;}

.main1 .swiper-slide .works8 {border-radius: 0;}


/* exhibition */
.main2 {
  position: relative;
  height: 100%;
  font-size: 14px;
  color: #000;
}

/* swiper2 */
.main2 .swiper {
  width: 100%;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.main2 .swiper-slide {
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;
  border-radius: 20px;
  position: relative;
}
.main2 .s1 {
  background-image: url('../img/exhibition1.jpg');
  background-position: center top 35%;
  background-size: cover;
}
.main2 .s2 {
  background-image: url('../img/exhibition5.jpg');
  background-position: center top 40%;
  background-size: cover;
}
.main2 .s3 {
  background-image: url('../img/exhibition4.jpg');
  background-position: center top 30%;
  background-size: cover;
}
.main2 .s4 {
  background-image: url('../img/award3.jpg');
  background-position: center top 10%;
  background-size: cover;
}
.main2 .s5 {
  background-image: url('../img/award1.jpg');
  background-position: center top 50%;
  background-size: cover;
}
.main2 .s6 {
  background-image: url('../img/award2.jpg');
  background-position: center top 60%;
  background-size: cover;
}
.main2 .s7 {
  background-image: url('../img/exhibition6.png');
  background-position: center top 80%;
  background-size: cover;
}
.main2 .s8 {
  background-image: url('../img/exhibition7.jpg');
  background-position: center top 50%;
  background-size: cover;
}
.main2 .s9 {
  background-image: url('../img/exhibition8.jpg');
  background-position: center top 80%;
  background-size: cover;
}

/* number */
.main2 .swiper-slide h4 {font-size: 50px; padding: 10px; font-family: "Karla", serif; color:#3D8D7A;}

/* overlay */
.main2 .swiper-slide .overlay {
  position: absolute; padding: 40px;
  top: 0;
  left: 0;
  width: inherit; height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: left; 
  background: rgb(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
  color: #fff;
  border-radius: 20px;
  display: flex; flex-direction: column;
  font-weight: 200;
}
.swiper-slide:hover .overlay {
  opacity: 1; height: 100%; 
}
.main2 .swiper-slide .overlay p:nth-child(1) {font-size: 25px; font-weight: 400;}
.main2 .swiper-slide .overlay p:nth-child(2) {font-size: 20px;}

/* arrow, page */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  --swiper-theme-color: #27e9b6; 
}
.main2 .swiper-button-next, .main2 .swiper-button-prev {
  --swiper-theme-color:#27e9b6;
};




/* -------------footer------------- */
.footer {
  width: 100%; height: 400px; 
}
.footer p {
  text-align: center; padding-top: 100px;
  font-size: 50px; font-style: italic; font-family: "Lato", serif; font-weight: 200;
}
.footer button {
  width: 150px; height: 50px; 
  position: relative; left: 50%; transform: translate(-50%);
  margin: 40px 0 60px; border-radius: 8px;
  background-color: rgba(0,0,0,0.4); 
}
.footer button a {
  display: block; width: 150px; height: 50px; line-height: 50px; font-size: 20px; color:#27e9b6; font-family: "Lato", serif; border-radius: 8px;
  font-weight: 300;
}
.footer button a:hover {background-color: rgba(255,255,255,0.5);}


/* 반응형 */

/* 1500px 미만 */
@media screen and (max-width:1500px){
  .main1 .swiper {height: 760px;}
  .main1 .swiper-slide {height: 760px;}
  .main1 .swiper-slide img {height: 500px;}
  .main1 .swiper-slide p {text-align: center;}
  .main1 .swiper-slide span {text-align: center;}
}

/* 1200px 미만 */
@media screen and (max-width:1200px){
  /* works */
  .main1 .swiper {height: 740px;}
  .main1 .swiper-slide {height: 740px;}
  .main1 .swiper-slide img {height: 500px;}
  .main1 .swiper-slide p {text-align: center;}
  .main1 .swiper-slide span {text-align: center;}
  /* exhibition */
  .main2 .swiper-slide .overlay p:nth-child(1){font-size: 20px;}
}

/* 900px 미만 */
@media screen and (max-width:900px) {
  header #title {flex-direction: column;}
  header h1 {font-size: 60px;}
  header p {margin-top: -20px; margin-left: 0; font-size: 50px;}
}

/* 800px 미만 */
@media screen and (max-width:800px){
  .main1 .swiper {height: 720px; padding: 0 150px;}
  .main1 .swiper-slide {height: 720px;}
  .main1 .swiper-slide img {height: 500px;}
  .main1 .swiper-slide p {padding-left: 0; font-size: 22px; text-align: center;}
  .main1 .swiper-slide span {padding-left: 10px; font-size: 16px; text-align: center; padding-bottom: 50px;}

  .main2 .swiper-slide .overlay p:nth-child(1) {font-size: 20px; }
  .main2 .swiper-button-next, .main2 .swiper-button-prev {
    position: absolute; top: 50%;
  }
  .main2 .swiper {height: 700px; padding: 0 70px;}
}

/* 700px 미만 */
@media screen and (max-width:700px){
  header h1 {font-size: 40px;}
  header p {margin-top: -15px; margin-left: 0; font-size: 40px;}

  .main1 {margin-bottom: 0;}
  .main1 .swiper {height: 680px; padding: 0 150px;}
  .main1 .swiper-slide {height: 680px;}
  .main1 .swiper-slide img {height: 450px;}

  .main2 .swiper {margin-bottom: 0;}
}

/* 620px 미만 */
@media screen and (max-width:620px){
  .main1 .swiper {height: 670px; padding: 0 100px;}
  .main1 .swiper-slide {height: 670px;}
  .main1 .swiper-slide .s2 {margin-top: 0px;}
  .main1 .swiper-slide p {font-size: 20px;}
  .main1 .swiper-slide span {font-size: 14px;}

  .main2 .swiper {height: 500px; padding: 0 50px;}
  .main2 .swiper-slide {height: 100% !important;}

  .footer p {font-size: 35px;}
}

/* 550px 미만 */
@media screen and (max-width:550px){
  .main1 .swiper {height: 670px; padding: 0 50px;}
  .main1 .swiper-slide {height: 670px;}
  .main1 .swiper-slide p {font-size: 20px;}
  .main1 .swiper-slide span {font-size: 14px;}
}

/* 500px 미만 */
@media screen and (max-width:500px){
  header #menu ul {display: flex; flex-direction: column; text-align: right;}
  header h1 {font-size: 30px;}
  header p {margin-top: -10px; margin-left: 0; font-size: 30px;}
  .main1 .swiper {width: 100%; height: 650px; padding: 0 40px; }
  .main1 .swiper-slide {height: 650px;}
  .main1 .swiper-slide img {width: 100%; margin: 0 auto;}
  .main1 .swiper-slide p {padding-top: 15px; font-size: 20px;}
  .main1 .swiper-slide span {padding-left: 10px; font-size: 16px; text-align: center;}

  .main2 .swiper {height: 500px; padding: 0;}

  .footer p {font-size: 30px;}
}

/* 450px 미만 */
@media screen and (max-width:450px){
  .main1 .swiper {height: 670px; padding: 0;}
  .main1 .swiper-slide {height: 670px;}

  .main2 .swiper {height: 450px; padding: 0;}
}