@charset "utf-8";

/* -------햄버거 메뉴------- */
.menuBox-sub {width: 120px; border-bottom-right-radius: 20px;}
.menuBox-sub li a {font-size: 14px;} 
.menuBox-sub li:hover {
  color: #27e9b5;
} 

/* ---------header--------- */
header {
  position: relative; top: 0; padding: 100px; box-sizing: border-box;
  width: 100%; height: 953px;
  background: url('../img/back1.jpg') no-repeat center/cover;
  line-height: 0.8em;
  font-family: "Karla", serif;
}

/* header 제목 */
header h1 {
  position: relative; top: 260px; text-align: left; font-style: italic;
  font-size: 11rem; font-weight: 500; 
  color: #27e9b5;
}
header .h-name {
  position: relative; top: 370px; font-style: italic;
  font-size: 10rem; font-weight: 400; 
  color: #fff;
}
header .h-port {
  position: relative; top: 470px; text-align: left; left: 10px;
  font-weight: 300; font-size: 30px; 
  color: #27e9b5; 
  line-height: 1; letter-spacing: 18px;
  font-family: "Noto Sans KR", serif;
}
header .h-sentence{
  position: relative; text-align: right; top: 620px;
  font-size: 50px; font-weight: 200; color: #fff; letter-spacing: 10px; font-style: italic; 
   line-height: 1; letter-spacing: 13px;
   font-family: "Lato", serif;
}
header .h-sentence span {color:#27e9b6;}

/* -----nav----- */
nav {
  width: 100%; height: 60px; 
  position: fixed; top: 0; z-index: 900; padding-top: 10px;
}
nav ul {
  height: 60px; 
  display:flex; justify-content: right; 
}
nav ul ul {
  width: inherit;
  display: none;
  position: absolute;  
}
nav ul ul li {background-color: rgba(0,0,0,0.4);}
nav ul li:hover ul {display: block;}

nav ul li a {
  display: block; width: 120px; height: 60px; 
  line-height: 60px; text-align: center;
  font-size: 20px; color:#fff;
}
nav ul li:hover a {
  color:#27e9b6;
}
/* 햄버거 메뉴 */
.menuBox {width: inherit;}
.menuBox .threeIcon { 
  display: none; 
  position: fixed; z-index: 9999; 
  font-size: 30px; color: #332; padding: 20px; cursor: pointer; 
}
.menuBox .xIcon {
  display: none; 
  position: fixed; z-index: 9999; 
  font-size: 30px; color: #332; padding: 20px; cursor: pointer;
}
.menuBox .menuBox-sub {
  display: none;
  position: fixed; z-index: 9998;
  background-color: rgba(255,255,255,0.5); padding: 70px 10px 10px;
}
.menuBox .menuBox-sub li {font-size: 16px; padding: 10px;}
.menuBox .menuBox-sub li a {font-family: "Noto Sans KR", serif; font-weight: 500;}

.menuBox .menuBox-sub li:hover a {color:#27e9b6;}

/* --------main-------- */
main {width: 100%; display: flex; flex-direction: column;
background-color: #222831; color: aliceblue;
padding-bottom: 300px;
}
main .page-desc {padding: 10px; font-size: 18px;}
/* --------main(about me)-------- */
main .about {
  display: flex; justify-content: center;
  padding: 0 10px 150px;
  box-sizing: border-box;
}
/* about1 */
main .about1 div.a1-img {text-align: center; margin-top: 20px;}
main .about1 {
  display: flex; flex-direction: column; 
  position: relative; z-index: 2; left: -50px;
  height: 600px; padding: 30px 50px 50px 0; 
  color: #fff;
  border-right: 1px dotted #ffffffcd;
} 
main .about1 img {
  width: 200px; height: 266px; border-radius: 10px;
  object-fit: cover;
}
main .about1 .name {
  display: flex; flex-direction: column;
  padding: 30px 0 100px;
}
main .about1 .name .n1 {
  font-family: "Noto Sans KR", serif;
  font-size: 25px; font-weight: 500;
  letter-spacing: 15px;
}
main .about1 .name .n2 {
  font-size: 30px; font-weight: 200;
  font-family: "Karla", serif;
  letter-spacing: 3px;
}
main .about1 .name-after {
  font-size: 18px; 
  display: flex; flex-direction: column;
}
main .about1 div.name-after i {margin-right: 10px; line-height: 30px; color: #27e9b5;}
main .about1 div.name-after span {
  font-family: "Karla", serif; font-weight: 500;}

/* about2 */
main .about2 {
  display: flex; flex-direction: column;
  padding-left: 40px;
  font-family: "Noto Sans KR", serif;
}
main .about2-row {display: flex; margin-top: 30px;}
main .about2 .about2-2 {margin-left: 60px;}

/* table */
main .about2 table {
  margin-bottom: 50px; font-size: 18px; font-weight: 100; line-height: 1.5;
  letter-spacing: 1px;
  font-family: "Noto Sans KR", serif;
}
main .about2 table tbody td:nth-child(1) {font-weight: 400; padding-right: 20px; }
main .about2 table tbody td:nth-child(2) {font-size: 16px;}
main .about2 table tbody td:nth-child(3) {padding-left: 30px; font-size: 14px;}
main .about2 h3 {
color:#27e9b5; margin-bottom: 6px;
font-size: 20px; letter-spacing: 2px;
font-weight: 400;
}  

/* about button */
.about .buttons {
  padding: 20px 0 ;
}
.about .btn_click {
  display: inline; padding-left: 20px;
  font-size: 25px; font-weight: 400;
  font-family: "Karla", serif;
}
.about .btn_click i {font-size: 25px;}
.about button {
  margin-top: 30px; margin-right: 30px;
  border: none;
  width: 180px; height: 60px; 
  border-radius: 10px;
}
.about button .resume {font-family: "Noto Sans KR", serif; font-weight: 400; font-size: 23px;}
.about button a {
  position: relative; 
  display: block;
  width: 180px; height: 60px; line-height: 60px; 
  background-color: #629584;
  color: #fff; 
  border-radius: 10px;
  font-family: "Karla", serif;
  font-size: 25px; font-weight: 700;
  transition: 0.2s;
}
.about button a:hover{
  display: block;
  width: inherit; height: inherit;
  background-color: rgba(255,255,255,0.5);
  color:#27e9b5;
}

/* --------main(skills)-------- */
#skill-box {background-color: rgba(255,255,255,0.2); padding: 30px 0;}
h2#skills {padding-top: 0;}
.skills {
  position: relative; display: flex; justify-content: center; gap: 50px;
  padding: 35px;
}
  .skills img {
    width: 100px; height: 100px; 
  }
  .skillbox1 {display: flex; gap: 30px;}
  .skillbox2 {display: flex; gap: 30px; }
  .skills .skillSet {display: flex; flex-direction: column; align-items: center;}
  .skills .skillSet .j3 {object-fit: contain; border-radius: 10px;}
  .skills .skillSet>span {
    font: 700 23px "Karla"; 
    text-align: center; text-transform: uppercase; margin: 25px 0 0;
  }
  .skills .skillSet .ability1 {font-size: 25px; color: #27e9b5; margin: 0px;}

/* --------main(works)-------- */
.works {
  display: flex; flex-direction: column; justify-self: center;
  width: 100%;
}
.works article {
  display: flex; justify-content: center; 
  width: 100%;
  margin-bottom: 120px;
  font-family: 'Noto Sans KR', sans-serif; 
}
.works article>div:nth-child(1) {
  width: 800px; height: 380px; overflow: hidden; 
  border: 20px solid #212121;
  border-radius: 30px; margin: 40px; box-sizing: border-box;
}
.works article img {
  width: 100%; transition: .5s; object-fit: cover; 
}
.works article>div:nth-child(2) {
  width: 600px; padding: 30px 0 0 50px;
}
.works article>div>div {display: flex; flex-direction: column;}
.works article img:hover {transform: scale(1.2);}
.works article h3 {font-size: 35px; color:#27e9b5;}
.works article h4 {font-size: 30px; font-weight: 500;}
.works article div p {
  font-size: 22px; line-height: 1.3em; font-weight: 100;
}
.works article div p.w-des {margin: 20px 0 10px;}

/* works button */
.works .w-button {
  display: flex; flex-direction: row;
  position:absolute; margin-top: 40px;
}
.works button {width: 150px; height: 50px; border-radius: 10px; background-color: rgba(0,0,0,0.4); margin-right: 20px;}
.works button a {
  display: block; width: 150px; height: 50px; line-height: 50px; border-radius: 10px; font-family: "Karla", serif;
  font-size: 20px; letter-spacing: 1px; font-weight: 600; color:#27e9b5; 
}
.works button:hover a {
  background-color: rgba(255,255,255,0.5);
}

/*----------design---------- */
.btn_click_de {
  display: inline; padding-left: 20px; text-align: center;
  font-size: 30px; font-weight: 400;
  font-family: "Karla", serif;
}
.d_container {
  width: 100%; 
  display: flex; flex-wrap: wrap; margin: 2px auto;
}
.d_container h4 {
  position: absolute; z-index: 100;
  font-size: 50px; padding: 10px 20px; font-family: "Karla", serif; color:#332;
}
.d_container article {
  flex: 1 1 25%;
  padding: 10px;
  display: flex;
  cursor: pointer;
}
.d_container .white-back {min-height: 300px; width: 100%; background-color: #fff;}
.d_container .backde {
  min-height: 300px; width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.d_container .backde:hover {opacity: .8;}

/* 모달 팝업 영역 스타일링 */
.d_modal {
  /* 팝업 배경 */
  display: none;
  position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 9998;
  background: rgba(0,0,0,0.5);
  overflow: hidden; 
}
.d_modal .d_modal_popup {
  /* 팝업 */
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9998;
  padding: 20px; 
  background: #fff;
  border-radius: 20px;
  pointer-events: none;
}
.d_modal .d_modal_popup h3 {color: #332; padding-bottom: 10px; font-size: 20px;}
.d_modal .d_modal_popup img {padding: 5px;}
.d_modal .d_modal_popup .close_btn {
  display: block; position: absolute; right: 2%; top: 2%; z-index: 9999;
  padding: 10px 15px; margin: 5px;
  background-color: #332;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s;
  font-size: 20px;
}

/* --------footer--------- */
footer {
  display: flex; flex-direction: column; 
}
.footer {
  position: relative;
  width: 100%; height: 300px; 
  display: flex; align-items: center; justify-content: center; flex-direction: column;
  background: url('../img/back1.jpg') no-repeat center/cover; 
}
.footer p {
  position: relative; 
  color: #ffffff;
  font-family: "Karla", serif;
  font-size: 40px; font-weight: 200;
  letter-spacing: 10px; text-align: center;
}
.footer p:nth-child(1) {
  color:#27e9b6;
}
.footer-after {
  text-align: center; padding: 10px 0 20px;
  background: #212121;
  font-size: 14px; color:#ffffff88;
}

/* ------------반응형-------------- */

/* 브라우저 폭 : 1600px 미만  */
@media screen and (max-width:1599px){
  nav ul.inner {transform: translateX(-150px); }
  main .about1 {left: -10px;}
  main .about {
    padding: 0 50px 150px;
  }
}

/* 1450px 미만 */
@media screen and (max-width:1449px){
  nav ul.inner {transform: translateX(-250px);}
  main .about1 {left: 30px; padding: 30px 30px 50px 0; }
  main .about2 {padding-left: 60px;}
  .skills .skillSet .ability1 {font-size: 20px; color: #27e9b5; margin: 0px;}
  .works article>div:nth-child(1) {
    height: 350px;
    border: 15px solid #212121;
    border-radius: 30px; margin: 40px; box-sizing: border-box;
  }
  .works article>div:nth-child(2) {
    width: 600px; padding: 30px 20px 0 20px;
  }
  
}

/* 1350px 미만 */
@media screen and (max-width:1349px){
  header h1 {font-size: 9rem;}
  header .h-name {font-size: 9rem; top: 350px;}
  nav ul.inner {transform: translate(-850px); }  
  .works article div p {font-size: 18px;}
  main .about2 table tbody td:nth-child(1) {font-weight: 300; padding-right: 10px; }
  main .about2 table tbody td:nth-child(2) {font-size: 14px;}
  .works article>div:nth-child(1) {
    height: 320px;
    border: 15px solid #212121;
    border-radius: 30px; margin: 40px; box-sizing: border-box;
  }
  .works article>div:nth-child(2) {
    width: 600px; padding: 30px 20px 0 20px;
  }
  .works article div p.w-des {margin: 0 0;}

}

/* 1200px 미만 */
@media screen and (max-width:1199px){
  main .page-desc {font-size: 16px;}
  header h1 { white-space: nowrap; font-size: 7rem;}
  header .h-name {font-size: 7rem; top: 330px;}
  header .h-port {top: 430px; font-size: 25px;}
  .skills .skillSet .ability1 {font-size: 15px; color: #27e9b5; margin: 0px;}
  main .about2 table tbody td:nth-child(1) {font-weight: 300; padding-right: 10px; font-size: 15px; }
  main .about2 table tbody td:nth-child(2) {font-size: 14px;}
  main .about2 table tbody td:nth-child(3) {padding-left: 10px; font-size: 14px;}
  .about .btn_click {
    padding-left: 5px;
    font-size: 24px; font-weight: 400;
  }
  .about .btn_click i {font-size: 24px;}
 
  .works article>div:nth-child(1) {
    height: 310px;
    border: 15px solid #212121;
    border-radius: 30px; margin: 40px; box-sizing: border-box;
  }
  .works article>div:nth-child(2) {
    width: 600px; padding: 30px 20px 0 10px;
  }
  .about .btn_click {
    font-size: 20px; font-weight: 400;
  }
  .about .btn_click i {font-size: 20px;}
  .about button {width: 150px; height: 50px;}
  .about button .resume {font-size: 18px;}
  .about button a {
    position: relative; 
    display: block;
    width: 150px; height: 50px; line-height: 50px; 
    background-color: #629584;
    color: #fff; 
    border-radius: 10px;
    font-family: "Karla", serif;
    font-size: 20px; font-weight: 500;
    transition: 0.2s;
  }
}

/* 1100px 미만만 */
@media screen and (max-width:1099px){
  .menuBox .threeIcon {display: none;}
  header {padding: 40px;}
  header h1 {left: 50px;}
  header .h-name {left: 50px;}
  header .h-port {left: 50px;}
  header .h-sentence {font-size: 35px;}
  .skills {gap: 24px; white-space: wrap;}
  .skills .skillSet>span {font-size: 20px;}
  .skills .skillSet .ability1 {font-size: 12px; color: #27e9b5; margin: 0px;}
  .works article {flex-direction: column; justify-content: center;}
  .works article>div:nth-child(1) {
    height: 360px; position: relative; left: 50%; transform: translateX(-55%);
    border: 15px solid #212121;
    border-radius: 30px; margin: 40px; box-sizing: border-box;
  }
  .works article>div:nth-child(2) {
    position: relative; left: 50%; transform: translateX(-55%); padding-top: 0;;
  }
  .works article div p.w-des {display: inline;}
  main .about2-row {display: flex; flex-direction: column; margin-top: 30px;}
  main .about2 .about2-2 {margin-left: 0;}
  .about .btn_click {
    display: none;
  }
  .about .btn_click i {display: none;}
  .about button {margin-right: 10px;}
}

/* 브라우저 폭 : 900px 미만  */
@media screen and (max-width:899px){
.menuBox .threeIcon {display: block;}
nav ul.inner {display: none;}

header {height: 850px;}
header h1 {white-space: nowrap; font-size: 6rem; top: 230px;
text-align: center; left: 0;
}
 header .h-name {left: 0; font-size: 6rem; top: 290px; text-align: center;}
 header .h-port {left: 0; text-align: center;}
 header .h-sentence {font-size: 35px; text-align: center;}

 nav ul.inner {transform: translateX(-60%); }
 nav ul ul {width: 100px;}
 nav ul li a {width: 100px; font-size: 16px; width: 100px;}

 h2 {padding: 150px 0 20px;}
 .about .buttons {
  display: flex; justify-content: center;
}
.about .buttons button {display: flex; justify-content: center;}
main .about {flex-direction: column; justify-content: center;}
main .about1 {border-right: none; padding: 0 auto;}
main .about1 .name {text-align: center; }
main .about1 .name-after {padding: 20px; border-bottom: 1px dotted #fff;}
main .about2-row {display: flex; margin-top: 10px;}

.d_container article {flex: 1 1 50%;}
.works article>div:nth-child(1) {width: 80%; height: 280px;}
.works article>div:nth-child(2) {margin-left: 100px;}
.skills {display: flex; flex-direction: column;}
.skillbox1 {justify-content: center;}
.skillbox2 {justify-content: center;}
.skills .skillSet .ability1 {font-size: 15px; color: #27e9b5; margin: 0px;}
}

/* 800px 미만 */
@media screen and (max-width:799px){
  .works article>div:nth-child(1) {width: 600px; height: 280px;}
  .works article>div:nth-child(2) {width: 600px;}
}

/* 700px 미만 */
@media screen and (max-width:699px){
  header {height: 800px;}
  header h1 {font-size: 5rem; top: 200px;}
  header .h-name {font-size: 5rem; top: 250px; text-align: center;}
  header .h-port {text-align: center; font-size: 20px; top: 350px;}
  header .h-sentence {top: 500px;}


  nav {width: 100px;}
  .contact1 {display: none;}
  main .about2 {padding-left: 0;}

  .works article {position: relative; left: -10px;}
  .works article>div:nth-child(1) {width: 600px; height: 250px;}
  .works article>div:nth-child(2) {width: 500px; margin-left: 70px;}

}

/* 600px 미만 */
@media screen and (max-width:599px){
  header h1 {font-size: 4rem; top: 180px;}
  header .h-name {font-size: 4rem; top: 220px;}
  header .h-port {top: 320px;}
  header .h-sentence {top: 450px;}


  .works article {position: relative; left: -35px;}
  .works article>div:nth-child(1) {width: 400px; height: 200px; margin-left: 50px;}
  .works article>div:nth-child(2) {width: 400px; margin-left: 70px;}
  .skills img {width: 60px; height: 60px;}
  .skillbox1 {display: flex; gap: 15px;}
  .skillbox2 {display: flex; gap: 15px; }
}

/* 500px 미만 */
@media screen and (max-width:499px){
  main .page-desc {font-size: 14px;}
  h2 {font-size: 3.5rem;}
  header {padding: 20px; height: 650px;}
  header h1 {font-size: 3.2rem;}
  header .h-name {font-size: 3.2rem; top: 210px; text-align: center;}
  header .h-port {top: 290px;}
  header .h-sentence {top: 400px; font-size: 30px;}

  nav ul ul {width: 80px;}
  nav ul li a {width: 80px; font-size: 14px;}
 .about .buttons {display: flex; flex-direction: column;}
 .works article>div:nth-child(1) {width: 390px; margin-left: 50px;}
 .works article>div:nth-child(2) {width: 350px; margin-left: 50px;}
 .works article div p {font-size: 16px;}

 .skills .skillSet>span {font: 500 18px "Karla"; }
 .skills .skillSet .ability1 {font-size: 10px;}
 .skillbox1 {display: flex; gap: 30px;}
 .skillbox2 {display: flex; gap: 16px; }
}

/* 400px 미만 */
@media screen and (max-width:399px){
  header {height: 600px;}
  header .h-name {font-size: 3rem; text-align: center;}
  header .h-port {text-align: center; font-size: 16px; }
  header .h-sentence {font-size: 20px;}

  .skills { padding: 0;}
  .skills img {width: 30px; height: 30px; }
  .skills .skillSet>span {margin-top: 5px;}
  .skills .skillSet .ability1 {font-size: 12px;}
  .skillbox1 {display: flex; gap: 10px;}
  .skillbox2 {display: flex; gap: 5px; }

  .works article {position: relative; left: -35px;}
  .works article>div:nth-child(1) {width: 300px; height: 160px; margin-left: 50px;}
  .works article>div:nth-child(2) {width: 250px; margin-left: 40px;}
}